 * {
  box-sizing: border-box;
}

body {
    padding-bottom: 50px;
    margin: 0;
}

h1 {
    font-size: 40px;
    background-color: #9b0014;
    color: white;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Helvetica;
    z-index: 1000;
    margin-top: 0;
}

.firstp {
    margin-top: 100px;
}

.lastp {
    margin-bottom: 5px;
}

p {
    font-size: 20px;
    line-height: 1.6;
    font-family: Garamond;
    margin-left: 15px;
    margin-right: 15px;
}

a.whitelink:link, a.whitelink:visited, a.whitelink:hover, a.whitelink:active {
    color: white;
    text-decoration: none;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    margin-bottom: -5px;
}

.footer div.author {
    float: left;
    font-size: 14px;
    background-color: #454953;
    color: white;
    padding: 5px;
    font-family: Garamond;
    width: 19%;
}

.footer div.venue {
    float: right;
    font-size: 14px;
    background-color: #454953;
    color: white;
    padding: 5px;
    font-family: Garamond;
    width: 19%;
    text-align: right;
}

.footer div.talk {
    float: left;
    font-size: 14px;
    background-color: #9b0014;
    color: white;
    padding: 5px;
    font-family: Garamond;
    width: 60%;
    margin-left: 1%;
    text-align: center;
}

.alpaca {
    width: 100%;
    height: 20px;
    font-size: 16px;
    font-family: Garamond;
    position: fixed;
    bottom: 25px;
    left: 0;
    background-color: teal;
    color: white;
    text-align: center;
}